.content
{
  text-align: center;
  width:      100%;
}

.content-header
{
  font-weight:   bold;
  font-size:     large;
  font-family:   'Vazir', sans-serif;
  text-align:    right;
  padding-right: 10%;
  width:         100%;
}

::ng-deep .mat-select-value
{
  color: red;
}

.mat-select
{
  width:            15%;
  padding:          8px;
  direction:        rtl;
  text-align:       center;
  background-color: #e6faff;
  border:           1px solid;
  border-color:     #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius:    10px;
  font-size:        small;
  font-weight:      bold;
  font-family:      'Vazir', sans-serif;
}

::ng-deep .mat-select-content
{
  border-color:     #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius:    10px;
  font-size:        small;
  font-weight:      bold;
  font-family:      'Vazir', sans-serif;
  background-color: #e6faff;
}

.mat-table
{
  display:     table;
  margin:      auto;
  width:       100%;
  padding:     10px;
  font-weight: bold;
  font-family: 'Vazir', sans-serif;
}

.mat-header-cell
{
  text-align:       center;
  font-weight:      bold;
  font-size:        large;
  font-family:      'Vazir', sans-serif;
  color:            blue;
  background-color: #e8ecf9;
  width:            inherit;
}

.mat-cell
{
  text-align:  center;
  font-weight: bold;
  font-size:   small;
  font-family: 'Vazir', sans-serif;
}

.mat-header-row
{
  position:         sticky;
  top:              0;
  background-color: inherit;
  font-size:        medium;
}

.centerAlign
{
  text-align: center;
}

.rightAlign
{
  text-align: right;
}

.leftAlign
{
  text-align: left;
}

.leftMargin
{
  padding-left: 2%;
}

.numberFormat
{
  font-family: "Droid Serif";
  font-weight: bold;
  font-size:   small;
}

.positive
{
  color: red;
}

.negative
{
  color: green;
}

.row2
{
  content:             "";
  /*     width: 100%; */
  /*     height: 30px; */
  top:                 0;
  left:                0;
  -webkit-transition:  background 0.25s;
  -moz-transition:     background 0.25s;
  -ms-transition:      background 0.25s;
  -o-transition:       background 0.25s;
  transition:          background 0.25s;
  border:              1px solid rgba(198, 198, 198, 0.2);
  border-top-color:    rgba(198, 198, 198, 0.2);
  border-top-style:    solid;
  border-top-width:    1px;
  border-right-color:  rgba(198, 198, 198, 0.2);
  border-right-style:  solid;
  border-right-width:  1px;
  border-bottom-color: rgba(198, 198, 198, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color:   rgba(198, 198, 198, 0.2);
  border-left-style:   solid;
  border-left-width:   1px;
  border-image-source: initial;
  border-image-slice:  initial;
  border-image-width:  initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.row1
{
  content:             "";
  /*     width: 100%; */
  /*     height: 100%; */
  background-color:    rgba(220, 220, 220, 0.3);
  top:                 0;
  left:                0;
  -webkit-transition:  background 0.25s;
  -moz-transition:     background 0.25s;
  -ms-transition:      background 0.25s;
  -o-transition:       background 0.25s;
  transition:          background 0.25s;
  border:              1px solid rgba(198, 198, 198, 0.2);
  border-top-color:    rgba(198, 198, 198, 0.2);
  border-top-style:    solid;
  border-top-width:    1px;
  border-right-color:  rgba(198, 198, 198, 0.2);
  border-right-style:  solid;
  border-right-width:  1px;
  border-bottom-color: rgba(198, 198, 198, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color:   rgba(198, 198, 198, 0.2);
  border-left-style:   solid;
  border-left-width:   1px;
  border-image-source: initial;
  border-image-slice:  initial;
  border-image-width:  initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.buyButton
{
  background-color: #cee0c7;
  font-weight:      bold;
  font-family:      'Vazir', sans-serif;
  font-size:        medium;
  width:            70%;
}

.sellButton
{
  background-color: #fcbfbf;
  font-weight:      bold;
  font-family:      'Vazir', sans-serif;
  font-size:        medium;
  width:            70%;
}

.mat-card
{
  text-align:  center;
  padding:     10px;
  font-weight: bold;
  font-family: 'Vazir', sans-serif;
}

.mat-paginator
{
  text-align:  center;
  padding:     10px;
  font-weight: bold;
  font-family: 'Vazir', sans-serif;
}

.centerAlign
{
  display:         inline-flex;
  flex-direction:  row;
  justify-content: space-between;
}
