<br/>
<div dir="rtl" style="width:100%;display:flex;text-align: right">
  <p>
    دوستان خود را دعوت کنید و پاداش دریافت کنید:
  </p>
</div>
<div dir="rtl" style="width:100%;display:flex;text-align: right">
  <p>
    اگر شما دوستان خود را به شرکت در مسابقات دعوت نمایید و آنها در مسابقه ای برنده شوند، به پاس قدردانی جهت دعوت برنده مسابقه، به شما پاداش  دعوت اهدا می
    گردد. بدین ترتیب می توانید از برنده شدن دوستان خود، سود ببرید و در شادی آنها سهیم باشید. جهت دعوت از
    دوستان خود، آدرس ایمیل آنها را در کادر زیر وارد نمایید و با علامت کاما(,) از یکدیگر جدا نمایید.
  </p>

</div>
<div>
  <mat-form-field style="width: 80%; background-color: #e8ecf9">
    <textarea matInput [(ngModel)] = "emails" style="height: 200px;" placeholder="example1@gmail.com, example2@gmail.com, example3@gmail.com, example4@gmail.com"></textarea>
  </mat-form-field>
</div>
<br/>
<div>
  <button (click)="sendInvitationEmail()" mat-raised-button style="width: 50%;">ارسال دعوتنامه</button>
</div>
