<div class="content">
  <div class="content-header">
    <span class="title">حساب کاربری</span>
    <mat-divider class="title-devider"></mat-divider>
  </div>

  <mat-tab-group (selectedTabChange)="updateTap($event)">
    <mat-tab label="شرکت در مسابقات">
        <app-create-form></app-create-form>
    </mat-tab>
    <mat-tab label="مسابقات من">
      <app-my-forms></app-my-forms>
    </mat-tab>
    <mat-tab label="تراکنش های مالی">
      <app-transaction></app-transaction>
    </mat-tab>
    <mat-tab label="مشخصات کاربر">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</div>
