<div class="content">
  <div class="content-header">
    <span class="title">حساب کاربری</span>
    <mat-divider class="title-devider"></mat-divider>
  </div>
  <br/>

  <mat-tab-group>
    <mat-tab label="شرکت در مسابقات">
        <app-create-form></app-create-form>
    </mat-tab>
    <mat-tab label="فرم های من">
      <app-my-forms></app-my-forms>
    </mat-tab>
    <mat-tab label="ثبت سفارش بیت کوین">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="تراکنش های مالی">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
    <mat-tab label="مشخصات کاربر">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</div>
