		
<mat-tab-group [selectedIndex]="selectedIndex">
	<mat-tab label="ورود">
		<div class="alert alert-info" align="right">
		   	<h4>ورود</h4>
		</div>
		<form [formGroup]="loginForm" (ngSubmit)="onLogin()" dir="rtl">
		   <div class="form-group" align="right">
		       <label dir="rtl">ایمیل</label>
		       <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': loginSubmitted && lForm.username.errors }" dir="ltr"/>
		       <div *ngIf="loginSubmitted && lForm.username.errors" class="invalid-feedback">
		           <div *ngIf="lForm.username.errors?.required">لطفا ایمیل خود را وارد نمایید</div>
		           <div *ngIf="rForm.username.errors?.validEmail">ایمیل وارد شده صحیح نمی باشد.</div>
		       </div>
		   </div>
		   <div class="form-group" align="right">
		       <label for="password" dir="rtl">کلمه عبور</label>
		       <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': loginSubmitted && lForm.password.errors }" dir="ltr"/>
		       <div *ngIf="loginSubmitted && lForm.password.errors" class="invalid-feedback">
		           <div *ngIf="lForm.password.errors?.required">لطفا کلمه عبور را وارد نمایید.</div>
		       </div>
		   </div>
		   <div class="form-group" align="center">
		       <button class="btn btn-primary" style="width: 30%; margin: 10px;" cdkFocusInitial>ورود</button>
		       
		       <button type="button" (click)="closeDialog();" class="btn btn-primary" style="width: 30%; margin: 10px;" cdkFocusInitial>انصراف</button>
		   </div>

      <label style="text-align: right;">در صورتی که کلمه عبور خود را فراموش کرده اید، پس از وارد کردن ایمیل خود <a style="color: blue" (click)="forgotPassword()">اینجا</a> را کلیک کنید</label>

      <div *ngIf="loginError" class="alert alert-danger" align="right">{{loginError}}</div>

      <div *ngIf="resendInvitation" style="text-align: right;"><a style="color: blue;" (click)="resendActivationEmail()">ارسال مجدد لینک فعالسازی</a></div>
		</form>
		 
	</mat-tab>
	<mat-tab label="ثبت نام">		  
		<div class="alert alert-info" align="right">
		   	<h4>ثبت نام</h4>
		</div>
		<form [formGroup]="registerForm" (ngSubmit)="onRegister()" dir="rtl">
      <div class="form-group" align="right">
        <label dir="rtl">نام کاربرِی</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && rForm.username.errors }" dir="ltr"/>
        <div *ngIf="registerSubmitted && rForm.username.errors" class="invalid-feedback">
          <div *ngIf="rForm.username.errors?.required">لطفا نام کاربری خود را انتخاب نمایید.</div>
          <!--<div *ngIf="rForm.selectedFormUsername.errors?.validEmail">این نام کاربری قبلا استفاده شده است.</div>-->
        </div>
      </div>
		   <div class="form-group" align="right">
		       <label dir="rtl">ایمیل</label>
		       <input type="text" formControlName="email" placeholder="test@test.com" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && rForm.email.errors }" dir="ltr"/>
 		       <div *ngIf="registerSubmitted && rForm.email.errors" class="invalid-feedback">
 		           <div *ngIf="rForm.email.errors?.required">لطفا ایمیل خود را وارد تمایید.</div>
 		           <div *ngIf="rForm.email.errors?.validEmail">ایمیل وارد شده صحیح نمی باشد.</div>
 		       </div>
		   </div>
		   <div class="form-group" align="right">
		       <label dir="rtl">کلمه عبور</label>
		       <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && rForm.password.errors }" dir="ltr"/>
 		       <div *ngIf="registerSubmitted && rForm.password.errors" class="invalid-feedback">
 		           <div *ngIf="rForm.password.errors?.required">لطفا کلمه عبور خود را وارد نمایید.</div>
 		           <div *ngIf="rForm.password.errors?.strong">کلمه عبور باید حداقل 8 کاراکتر بوده و شامل  یک حرف کوچک و یک حرف بزرگ انگلیسی  و یک عدد  باشد.</div>
 		       </div>
		   </div>
		   <div class="form-group" align="right">
		       <label dir="rtl">تکرار کلمه عبور</label>
		       <input type="password" formControlName="repeatedPassword" class="form-control" [ngClass]="{ 'is-invalid': registerSubmitted && rForm.repeatedPassword.errors }" dir="ltr"/>
 		       <div *ngIf="registerSubmitted && (registerForm.errors || rForm.repeatedPassword.errors)" class="invalid-feedback">
 		           <div *ngIf="rForm.repeatedPassword.errors?.required">لطفا تکرار کلمه عبور  را وارد نمایید.</div>
 		           <div *ngIf="registerForm.errors?.matchPassword">Password Match !!!</div>
 		       </div>
		       
		   </div>
		   <div class="form-group" align="center">
		       <button class="btn btn-primary" style="width: 30%; margin: 10px;" cdkFocusInitial>ثبت نام</button>
		       
		       <button type="button" (click)="closeDialog();" class="btn btn-primary" style="width: 30%; margin: 10px;" cdkFocusInitial>انصراف</button>
		   </div>
      <div *ngIf="loginError" class="alert alert-danger" align="right">{{loginError}}</div>
		</form>
	</mat-tab>
</mat-tab-group>	
