<div class="content">
  <div class="content-header">
    <span class="title">مسابقات فوتبال</span>
    <mat-divider class="title-devider"></mat-divider>
  </div>

  <mat-tab-group>
    <mat-tab label="مسابقات">
      <app-group-play [source]="source"></app-group-play>
    </mat-tab>
    <mat-tab label="تاریخچه مسابقات">
      <app-group-play-history></app-group-play-history>
    </mat-tab>
    <mat-tab label="برندگان">
      <app-group-play-winners></app-group-play-winners>
    </mat-tab>
  </mat-tab-group>
</div>


