<div align="center" style="display: flex; justify-content: center; align-items: center;">
  <mat-card style="width: 300px;">
    <mat-card-content>
      <br/>
      <div>
        <label>Username:  </label>
        <label style="font-weight: bold;">{{data.username}}</label>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <input #email type="text" matInput placeholder="Email" value="{{data.email}}" [readonly]="true"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <input #password type="password" matInput placeholder="Current Password"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <input #newPassword type="password" matInput placeholder="New Password"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="width: 100%;">
          <input #repeatedPassword type="password" matInput placeholder="Re-enter New Password"/>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" style="width: 80%;" (click)="changePassword(password.value, newPassword.value, repeatedPassword.value)">Change Password</button>
    </mat-card-actions>
  </mat-card>
</div>
