<div class="content">
  <div class="content-header">
    <span class="title">مسابقات فوتبال</span>
    <mat-divider class="title-devider"></mat-divider>

    <br/>
    <mat-select [(ngModel)]="formId" name="form" (selectionChange)="change();" align="right" dir="rtl">
      <mat-option *ngFor="let form of formList" [value]="form.properties.id">
        {{form.properties.name}}
      </mat-option>
    </mat-select>
  </div>
  <br/>


  <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!-- Time Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ/زمان بازی</th>
      <td mat-cell *matCellDef="let element"> {{element.properties.date}} - {{element.properties.time}}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.properties.country}}</td>
    </ng-container>

    <ng-container matColumnDef="league">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.properties.league}}</td>
    </ng-container>

    <ng-container matColumnDef="home">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: left;">تیم میزبان</th>
      <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.properties.home}}</td>
    </ng-container>

    <ng-container matColumnDef="liveScore">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">نتیجه</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.properties.liveScore}}</td>
    </ng-container>

    <!--&lt;!&ndash; homeWin CheckBox Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="homeWin">-->
      <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>برد میزبان</th>-->
      <!--<td mat-cell *matCellDef="let element">-->
        <!--<mat-checkbox (click)="selectHomeWinCheckbox(element)"></mat-checkbox>-->
      <!--</td>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; noWin CheckBox Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="noWin">-->
      <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>مساوی</th>-->
      <!--<td mat-cell *matCellDef="let element">-->
        <!--<mat-checkbox (click)="selectNoWinCheckbox(element)"></mat-checkbox>-->
      <!--</td>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; awayWin CheckBox Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="awayWin">-->
      <!--<th mat-header-cell *matHeaderCellDef mat-sort-header>برد میهمان</th>-->
      <!--<td mat-cell *matCellDef="let element">-->
        <!--<mat-checkbox (click)="selectAwayWinCheckbox(element)"></mat-checkbox>-->
      <!--</td>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="away">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: right;">تیم میهمان</th>
      <td mat-cell *matCellDef="let element" style="text-align: right;"> {{element.properties.away}}</td>
    </ng-container>

    <tr mat-header-row class="header" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'row1': index%2 == 0, 'row2': index%2 == 1}" *matRowDef="let row; columns: displayedColumns; let index = index"></tr>

  </table>

</div>


