<div class="content">
  <div class="content-header">
    <span class="title">مدیر سیستم</span>
    <mat-divider class="title-devider"></mat-divider>
  </div>
  <br/>

  <mat-tab-group>
    <mat-tab label="ساخت مسابقه">
      <app-form-create></app-form-create>
    </mat-tab>
    <mat-tab label="ویرایش مسابقات">
      <app-edit-template-form></app-edit-template-form>
    </mat-tab>
    <mat-tab label="فارسی سازی">
      <app-initialise-data></app-initialise-data>
    </mat-tab>
  </mat-tab-group>
</div>
