<div class="content">
<div class="content-header">
	<span class="title">خرید و فروش بیت کوین</span>
	<mat-divider class="title-devider"></mat-divider>
</div>
<br/>
<div class="row">
  <div class="column">
  	<mat-card>
	  <mat-card-content>
	  <h4>
	  <span style="color:blue;">
	  خرید بیت کوین
	  </span>
	  </h4>
	  <p>
	  جدول زیر صف فروشندگان بیت کوین می باشد و شما می توانید جهت خرید بیت کوین از این جدول استفاده نمایید. توجه داشته باشید که قیمت پیشنهادی فروشندگان به تومان و به ازای یک بیت کوین می باشد.
	  </p>	    
	  </mat-card-content>
	  <!-- Buyers table -->
	  <table mat-table [dataSource]="sellersDataSource" class="mat-elevation-z8">
		  <!-- Index Column -->
		  <ng-container matColumnDef="index">
		    <th mat-header-cell *matHeaderCellDef> ردیف </th>
		    <td mat-cell *matCellDef="let element" class="numberFormat">  {{isVisible(element.price) ? element.index : ''}} </td>
		  </ng-container>
		
		  <!-- Price Column -->
		  <ng-container matColumnDef="price">
		    <th mat-header-cell *matHeaderCellDef>قیمت</th>
		    <td mat-cell *matCellDef="let element" class="numberFormat"> {{element.price}} </td>
		  </ng-container>
		
		  <!-- Buy Button Column -->
		  <ng-container matColumnDef="buyButton">
		    <th mat-header-cell *matHeaderCellDef></th>
		    <td mat-cell class="leftAlign" *matCellDef="let element"> 
	    		<button mat-button [routerLink]="['/home']" class="buyButton" *ngIf="isVisible(element.price)" [disabled]="isDisabled()">خرید</button> 
	    	</td>
		  </ng-container>
		  
		  <tr mat-header-row *matHeaderRowDef="displayedBuyersColumns"></tr>
		  <tr mat-row [ngClass]="{'row1': index%2 == 0, 'row2': index%2 == 1}" *matRowDef="let row; columns: displayedBuyersColumns; let index = index;"></tr>
	  </table>	  
	</mat-card>
  </div>
  <div class="column">
  	<mat-card>
	  <mat-card-content>
	  <h4>
	  <span style="color:blue;">
	  فروش بیت کوین
	  </span>
	  </h4>
	  <p>
	  جدول زیر صف خریداران بیت کوین می باشد و شما می توانید جهت فروش بیت کوین از این جدول استفاده نمایید. توجه داشته باشید که قیمت پیشنهادی خریداران به تومان و به ازای یک بیت کوین می باشد.
	  </p>	    
	  </mat-card-content>
	  <!-- Sellers table -->
	  <table mat-table [dataSource]="buyersDataSource" class="mat-elevation-z8">	  
	  		<!-- Buy Button Column -->
		  <ng-container matColumnDef="sellButton">
		    <th mat-header-cell *matHeaderCellDef></th>
		    <td mat-cell class="rightAlign" *matCellDef="let element"> 
	    		<button mat-button [routerLink]="['/home']" class="sellButton" *ngIf="isVisible(element.price)" [disabled]="isDisabled()">فروش</button> 
	    	</td>
		  </ng-container>
		
		  <!-- Price Column -->
		  <ng-container matColumnDef="price">
		    <th mat-header-cell *matHeaderCellDef>قیمت</th>
		    <td mat-cell *matCellDef="let element" class="numberFormat"> {{element.price}} </td>
		  </ng-container>  
		  
		  <!-- Index Column -->
		  <ng-container matColumnDef="index">
		    <th mat-header-cell *matHeaderCellDef> ردیف </th>
		    <td mat-cell *matCellDef="let element" class="numberFormat"> {{isVisible(element.price) ? element.index : ''}} </td>
		  </ng-container>
		
		  <tr mat-header-row *matHeaderRowDef="displayedSellersColumns"></tr>
		  <tr mat-row [ngClass]="{'row1': index%2 == 0, 'row2': index%2 == 1}" *matRowDef="let row; columns: displayedSellersColumns; let index = index;"></tr>
		</table>	  
	</mat-card>
  </div>
</div>



</div>