<div class="content">
  <div class="content-header">
    <span class="title">راهنمای استفاده از سایت</span>
    <mat-divider class="title-devider"></mat-divider>
  </div>
</div>
<div class="guide">
  <div dir="rtl" style="width:100%;text-align: right">
    <!--<p>-->
      <!--کابران محترم، پیشنهاد می کنیم قبل از استفاده از امکانات وب سایت، حداقل یک مرتبه این راهنما را با دقت و حوصله-->
      <!--مطالعه نمایید. مطالعه این راهنما چند دقیقه بیشتر وقت شما را نمی گیرد، ولی با مطالعه آن، پاسخ بسیاری از سوالات و-->
      <!--نکاتی که ممکن است به ذهن شما خطور کند را پیشاپیش بدست می آوردید.-->
    <!--</p>-->

    <h2 style="color: #cd7f32">ثبت نام</h2>
    <p>در قدم اول اقدام به ثبت نام در سایت نمایید. برای این کار روی آیکون ورود به سیستم (گوشه سمت راست بالای صفحه) کلیک
      کنید و با انتخاب پوشه ثبت نام، یک نام کاربری اننخاب کنید و آدرس ایمیل خود را به همراه کلمه عبور مورد نظر وارد
      نمایید. با کلیک بر روی ثبت نام لینک فعال سازی حساب به آدرس ایمیل شما ارسال می شود. با مراجعه به ایمیل خود، روی
      لینک ارسال شده کلیک کنید تا حساب کاربری شما فعال شود. پس از فعال شدن حساب، مجددا به قسمت ورود به سایت مراجعه
      نمایید و با وارد نمودن ایمیل و کلمه عبود خود وارد سیستم شوید.</p>

    <h2 style="color: #cd7f32">واریز و برداشت</h2>
    <p>واحد پول اصلی در این سایت، بیت کوین می باشد و ما از واحد بسیار کوچکتر بیت کوین، یعنی ساتوشی که معادل 0.00000001 بیت
      کوین می باشد استفاده می کنیم (در حال حاظر که این راهنما را آماده می کنیم، قیمت یک ساتوشی کمتر از 1 تومان معادل 10
      ریال می باشد). واریز و برداشت به/از حساب شما در وب سایت بسیار راحت و در عرض چند دقیقه صورت می پذیرد. برای این کار
      به بخش حساب کاربری، قسمت تراکنش های مالی مراجعه نمایید. جهت واریز به حساب از آدرس کیف الکترونیکی اختصاصی خود
      استفاده نمایید و جهت برداشت از حساب آدرس کیف الکترونیکی بیت کوین مقصد و مبلغ مورد نظر خود را وارد نمایید. در جدول
      تراکنش ها می توانید تمامی تراکنشهای مالی خود را مشاهده نمایید. </p>
    <p></p>

    <h2 style="color: #cd7f32">مسابقات</h2>
    <p>به طور کلی 3 نوع مسابقه در سایت وجود دارد: مسابقات طلایی، مسابقات نقره ای و مسابقات برنزی. تفاوت در تعداد برندگان
      این مسابقات می باشد. جایزه مسابقات طلایی تنها به برنده یا برندگان اول اختصاص می یابد، جایزه مسابقات نقره ای بین
      نفرات اول و دوم تقسیم می شود و جایزه مسابقات برنزی بین نفرات اول، دوم و سوم تقسیم می شود. تقسیم بندی جوایز بصورت
      زیر می باشد: </p>
    <p>در مسابقات طلایی، کل مبلغ جایزه بین نفرات اول تقسیم می شود.</p>
    <p>در مسابقات نقره ای، 75 درصد مبلغ جایزه بین نفرات اول و 25 درصد مبلغ جایزه بین نفرات دوم تقسیم می شود.</p>
    <p>در مسابقات برنزی، 65 درصد مبلغ جایزه بین نفرات اول و 20 درصد مبلغ جایزه بین نفرات دوم و 15 درصد مبلغ جایزه بین
      نفرات سوم تقسیم می شود.</p>
    <p>سهم سایت از مسابقات، 25 درصد ملبغ جایزه می باشد که پس از تقسیم جوایز از حساب برندگان کسر می گردد. این مبلغ صرف
      هزینه های سایت، دستمزد ها و همینطور پرداخت پاداش معرفی کنندگان سایت
       می شود.</p>

    <p>در هر یک از مسابقات می توان بصورت مجازی یا حقیقی شرکت نمود. در مسابقات مجازی هیچ هزینه ای از حساب شما کسر نمی
      شود، ولی حداقل قیمت هر فرم حقیقی، 1,000 ساتوشی معادل 0.00001 بیت کوین می باشد. شما می توانید معادل قیمت یک بیت کوین
      را در محل مخصوص در نظر گرفته شده که پس از ورود به سیستم قادر به مشاهده آن می باشید، وارد نمایید تا قیمت معادل
      فرم به تومان نیز برای شما نمایش داده شود. </p>
    <p>پس از ثبت یک فرم، تا یک ساعت قبل از شروع اولین بازی فرم فرصت دارید تا فرم خود را ویرایش کنید. از یک ساعت قبل از
      شروع اولین بازی فرم، امکان ویرایش فرم غیر فعال می گردد و همزمان امکان دانلود فتوکل مسابقه فراهم می شود. فتوکل
      مسابقات تنها شامل فرم های حقیقی می باشد. برای مشاهده همه فرم های خود، اعم از حقیقی و مجازی و ویرایش آنها به قست فرم های من مراجعه نمایید.</p>
    <p>در صفحه اول سایت، شما می توانید مسابقات فعال و همینطور وضعیت فرم های شرکت کننده در مسابقه مورد نظر خود را مشاهده
      نمایید. اطلاعات بازی های زنده و در حال انجام هر مسابقه به روز رسانی می شود و بر اساس نتیجه بازی ها، لیست فرم های مسابقه مذکور نیز بروزرسانی می کردد. پس از اتمام آخرین بازی مسابقه، فورا برندگان مشخص می شوند و مبلغ جایزه به حساب ایشان واریز
      می گردد.</p>

    <h2 style="color: #cd7f32">طرح پاداش سایت</h2>
    <p>در بخش حساب کاربری، قسمت دعوت از دوستان، شما می نوانید دوستان خود را به سایت دعوت نمایید و بواسطه برنده شدن دوستانتان، پاداش دریافت کنید. برای این منظور آدرس های ایمیل
      دوستان خود را در محل در نظر گرفته شده در این قسمت وارد و آنها را با علامت کاما (,) از یکدیگر جدا نمایید. </p>
    <p>جهت دریافت پاداش باید:</p>
    <p>1. فردی که شما دعوت کرده اید در مسابقه مورد نظر برنده شده باشد.</p>
    <p>2. شما حداقل یک فرم در مسابقه مذکور داشته باشید.</p>
    <p>هر چه تعداد دوستانی که به سایت دعوت می کنید بیشتر باشد، احتمال دریافت پاداش دعوت از دوستان شما نیز بالاتر می رود.
      این پاداش معادل 5 درصد جایزه برنده مسابقه (قبل از کسر کارمزد سایت) می باشد و شامل کارمزد نمی شود.</p>

    <br/>
    <!--<p>شما می توانید از طریف بخش تماس با ما نظرات، پیشنهادات و انتقادات خود را با ما در میان بگذارید.</p>-->
    <p>با آرزوی موفقیت روزافزون برای شما</p>


  </div>
</div>
